<div class=" mx-auto container    w-full h-full">
  <div class=" image-anime mt-4 flex  justify-between mx-20  py-8">
    <h1 class=" tracking-wide  my-10  text-6xl font-bold"> Find your Dream <br><span class=" text-yellow-600 text-6xl ">CAR</span><span><button class="ml-4 text-sm text-white bg-yellow-600 px-6 py-3 rounded-full">View Our stock</button>
    </span></h1>


   </div> 
   <div class="  py-20   my-4">
    <%= form_with url: "/search",class:" bg-gray-100 border-solid border-slate-100 rounded-full h-36  w-1/2 mx-auto", method: :get do |form| %>
      <%= form.label :query, "Search for:" %>
      <div class="flex justify-center  justify-items-center relative">
          <%= form.text_field :query, class:" " %>
          <%= form.submit "search", class:"absolute  right-10" %>
        

      </div>
    <% end %>
  

    
   </div>
    <div class="my-4 ">
      <h1 class="text-center pb-20 mb-4 text-2xl text-gray-700">Brands</h1>

      <div class="brands flex pb-40 justify-center gap-8">
        <%  @image_paths.each do | image_path| %>
          <%= image_tag("logos1/#{image_path.split('/').last}", class:"w-32 h-32") %>
          
        <% end %>

      
      </div>
    </div> 
    <div class=" my-4 bg-gray-200 pb-20 ">
      <h1 class="text-center pt-10 mb-4 text-2xl text-gray-700">Explore</h1>
      <div class="">
        <ul class="flex pt-10 text-lg text-gray-500 justify-center gap-x-8">
          <li>Cars</li>
          <li>Trucks</li>
          <li>CrossOvers and Suvs</li>
          <li>Saloon</li>


        </ul>
      
      </div>
       
     <div class=" pl-20 flex   flex-wrap gap-x-96  gap-y-10 justify-center      pt-20  ">
        <div class="relative">
            <div class="absolute right-56  top-20 mt-4  w-80 h-48 ">
              <%= image_tag 'banner2.png', class:"w-full h-full rounded-lg" %>
            </div>
              <div class="  text-gray-700  pl-16 px-8  flex  gap-y-4 flex-col justify-center   h-80 w-full max-w-fit bg-white rounded-lg">
                <p class="  text-xl font-semibold ">Toyota</p>
                <p class"text-lg">Foreign used</p>
                <p class=" text-lg">Model Year <span class="ml-8">2015</span></p>
                <p class="text-lg">Model  <span class="ml-8">Mazda</span></p>
                <p class="text-lg">Fuel <span class="ml-8">Petrol</span></p>
                <button class="bg-yellow-600 py-3 px-7 mt-2 text-sm hover:bg-yellow-300 rounded-full">Chat on whatsaap</button>

              </div>
        </div> 

        <div class="relative">
            <div class="absolute right-56  top-20 mt-4  w-80 h-48 ">
              <%= image_tag 'banner2.png', class:"w-full h-full rounded-lg" %>
            </div>
              <div class="  text-gray-700  pl-16 px-8  flex  gap-y-4 flex-col justify-center   h-80 w-full max-w-fit bg-white rounded-lg">
                <p class="  text-xl font-semibold ">Toyota</p>
                <p class"text-lg">Foreign used</p>
                <p class=" text-lg">Model Year <span class="ml-8">2015</span></p>
                <p class="text-lg">Model  <span class="ml-8">Mazda</span></p>
                <p class="text-lg">Fuel <span class="ml-8">Petrol</span></p>
                <button class="bg-yellow-600 py-3 px-7 mt-2 text-sm hover:bg-yellow-300 rounded-full">Chat on whatsaap</button>

              </div>
        </div> 
        <div class="relative">
            <div class="absolute right-56  top-20 mt-4  w-80 h-48 ">
              <%= image_tag 'banner2.png', class:"w-full h-full rounded-lg" %>
            </div>
              <div class="  text-gray-700  pl-16 px-8  flex  gap-y-4 flex-col justify-center   h-80 w-full max-w-fit bg-white rounded-lg">
                <p class="  text-xl font-semibold ">Toyota</p>
                <p class"text-lg">Foreign used</p>
                <p class=" text-lg">Model Year <span class="ml-8">2015</span></p>
                <p class="text-lg">Model  <span class="ml-8">Mazda</span></p>
                <p class="text-lg">Fuel <span class="ml-8">Petrol</span></p>
                <button class="bg-yellow-600 py-3 px-7 mt-2 text-sm hover:bg-yellow-300 rounded-full">Chat on whatsaap</button>

              </div>
        </div> 

        



        
        </div> 
        
         
     
      </div>
    </div>
  <div class="  pb-20 mx-auto mt-4">
    
        <div class="text-center">

          <h1 class="text-center text-red pt-10 mb-4 text-2xl text-gray-700">Our services</h1>
          <p class="text-gray-500 mb-2">We offer various services </p>
        </div>
      <div class="flex  pt-10 gap-x-20 justify-center">    
        <div class=" p-6 rounded-md w-60 h-52 bg-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-red-200 mt-2 w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
            </svg>

            <h2 class="mt-2 font-bold">Top Buy and sell car</h2>
            <p class="mx-auto mt-2">We help our clients buy and sell their cars at ease, we do all the martkerting</p>
        </div>

    
        
          <div class=" p-6 rounded-md w-60 h-52 bg-gray-200">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-red-200 mt-2 w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
              </svg>

              <h2 class="mt-2 font-bold">Top Buy and sell car</h2>
              <p class="mx-auto mt-2">We help our clients buy and sell their cars at ease, we do all the martkerting</p>
          </div>
        

        
          <div class=" p-6 rounded-md w-60 h-52 bg-gray-200">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="stroke-red-200 mt-2 w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
            </svg>

            <h2 class="mt-2 font-bold">Top Buy and sell car</h2>
            <p class="mx-auto mt-2">We help our clients buy and sell their cars at ease, we do all the martkerting</p>
          </div>
        

      </div>       
    
     
  </div>
  <div class=" py-10  bg-gray-200 my-4 flex">
    <div class="w-1/2 h-1/3 ">
      <%= image_tag 'wv t1.jpg', class:"w-full h-full rounded-lg " %>

    </div>
    <div class="  w-1/2 bg-white p-10 ">
      <h2 class="font-bold text-lg mb-2">Cars for everyone</h2>
      <p>We provide various car models that fit your budget and we offer flexible payments</p>
      <button class=" more-button relative mt-4 text-white rounded-full bg-yellow-600 hover:bg-yellow-300 py-3 px-10">Read more<span class="absolute right-2"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
           <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
           </svg></span>
       </button>
       <div id="content-div">

       </div>
    </div>  

  </div>
  <div class="bg-gray-100  mx-auto my-4 py-10">

    <h1 class="text-center text-red pb-10 pt-10 mb-4 text-2xl text-gray-700">Happy clients from Zurich motors</h1>
    <div>
      <div class=" pt-10 pb-10  w-64 h-60 flex  gap-8">
        <%  @happy_clients.each do | happy_path| %>
          <%= image_tag("happy/#{happy_path.split('/').last}", class:"w-full h-full") %>
          
        <% end %>

    </div>

  </div>
  <div class="bg-gray-200">
      <h1 class="text-center text-red pb-10 pt-10 mb-4 text-2xl text-gray-700">Blogs</h1>


  </div>
  
</div>
